.course{
    width: 270px;
    border: 1px solid #5d7777;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #70807a;
    position: relative;

}
.course img{
    border-radius: 7px;
    margin: 5px;
}
.course .info{
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    padding-left: 10px;
    margin-bottom: 50px;
}
.cart-btn {
    position: absolute;
    bottom: 0;
    width: 95%;
    height: 45px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 7px;
    border: none;
    background: #3298ff;
    color: #fffdfd;
    margin: 7px;
    cursor: pointer;
}

.cart-btn:hover{
    background: #2b84dd;
}