.container{
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  background: #f5f5f5;
  min-height: 95vh;
}
@media screen and (max-width: 441px){
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}}