.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cart-container{
    position: fixed;
    right:0;
    width: 270px;
    height: 100%;
    background-color: orange;
}


@media  screen and (max-width: 768px) {
    .product-container{
        grid-template-columns: repeat(1, 0.75fr);
    }
    .cart-container{
        width: 300px;
    }
}

@media (max-width: 441px) {
    .product-container{
        grid-template-columns: repeat(1, 0.25fr);
    }
    .cart-container{
        width: 200px;
        font-size: 11px;
    }
}