.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
}
.product-container{
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cart-container{
    position: fixed;
    right:0;
    width: 270px;
    height: 100%; 
    background-color: orange;
}